config NUM_NODES
    int "Number of nodes"
    default 2

config GLOSSY_TX_FLOOD_START_NODE_ID
    int "Glossy TX flood start node ID"
    default 8

config DWT_MTM_OUTPUT_CIR
    bool "output channel impulse response"
    default n

config DWT_MTM_ON_DEVICE_PROCESSING
    bool "if n just output raw timestamps"
    default y

choice RANGING_OUTPUT_TARGET
    bool "output target interface"
    default RANGING_OUTPUT_RTT

config RANGING_OUTPUT_RTT
    bool "RANGING_OUTPUT_RTT"

config RANGING_OUTPUT_UART
    bool "RANGING_OUTPUT_UART"

endchoice

choice TESTBED
    bool "Testbed"
    default TESTBED_KIEL

config TESTBED_KIEL
    bool "TESTBED_KIEL"

config TESTBED_TOULOUSE
    bool "TESTBED_TOULOUSE"

config TESTBED_DRONE
    bool "TESTBED_DRONE"

config TESTBED_LILLE
    bool "TESTBED_LILLE"

config TESTBED_TRENTO_A
    bool "TESTBED_TRENTO_A"

config TESTBED_TRENTO_B
    bool "TESTBED_TRENTO_B"
endchoice


source "Kconfig.zephyr"