/ {

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
        };
                led1: led_1 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
    };


    aliases {
        deb0       = &led0;
        deb1       = &led1;
    };
};

&systick {
 	/* Use RTC for system clock, instead of SysTick. */
 	status = "okay";
};